Repository geopython/pycsw, pull requests merged in 2025-01, with the labels that each got.

#1062 enhance STAC collection metadata from non-STAC resources
  pycsw/stac/api.py
Labels: bug, STAC API

#1064 STAC API fixes
  pycsw/ogc/api/oapi.py
  pycsw/ogc/api/records.py
  pycsw/stac/api.py
  pycsw/wsgi_flask.py
Labels: bug, STAC API

#1071 add OARec autodiscovery
  pycsw/ogc/api/records.py
  tests/functionaltests/suites/cite/data/cite.db
  tests/functionaltests/suites/oarec/test_oarec_functional.py
  tests/functionaltests/suites/oarec/test_oarec_virtual_collections_functional.py
Labels: enhancement, OGC API - Records

#1072 add OARec autodiscovery to HTML collections template
  pycsw/ogc/api/templates/collections.html
Labels: OGC API - Records

#1073 STAC: fix collection search
  pycsw/ogc/api/records.py
Labels: bug, STAC API

#1074 update STAC data tests
  pycsw/core/metadata.py
  pycsw/ogc/api/records.py
  pycsw/ogc/api/util.py
  pycsw/stac/api.py
  tests/functionaltests/suites/stac_api/conftest.py
  tests/functionaltests/suites/stac_api/data/S2A_MSIL2A_20241128T092331_R093_T34SEJ_20241128T122153.json
  tests/functionaltests/suites/stac_api/data/S2A_MSIL2A_20241128T092331_R093_T34SFH_20241128T122153.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0208_R079_T33TWN_20190910T120910.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0208_R079_T33TXN_20190910T120910.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0208_R079_T33UWP_20190910T120910.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0208_R079_T33UWQ_20190910T120910.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0208_R079_T33UXP_20190910T120910.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0208_R079_T33UXQ_20190910T120910.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0500_R079_T33TWN_20230429T151337.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0500_R079_T33TXN_20230429T151337.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0500_R079_T33UWP_20230429T151337.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0500_R079_T33UWQ_20230429T151337.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0500_R079_T33UXP_20230429T151337.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL1C_20190910T095029_N0500_R079_T33UXQ_20230429T151337.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0213_R079_T33TWN_20190910T124513.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0213_R079_T33TXN_20190910T124513.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0213_R079_T33UWP_20190910T124513.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0213_R079_T33UXP_20190910T124513.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0213_R079_T33UXQ_20190910T124513.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0500_R079_T33TWN_20230430T083712.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0500_R079_T33TXN_20230430T083712.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0500_R079_T33UWP_20230430T083712.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0500_R079_T33UWQ_20230430T083712.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0500_R079_T33UXP_20230430T083712.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2B_MSIL2A_20190910T095029_N0500_R079_T33UXQ_20230430T083712.SAFE.json
  tests/functionaltests/suites/stac_api/data/S2MSI1C.xml
  tests/functionaltests/suites/stac_api/data/S2MSI2A.xml
  tests/functionaltests/suites/stac_api/data/records.db
  tests/functionaltests/suites/stac_api/data/sentinel-2-l2a.json
  tests/functionaltests/suites/stac_api/data/simple-collection.json
  tests/functionaltests/suites/stac_api/data/woudc-total-column-ozone-totalozone.json
  tests/functionaltests/suites/stac_api/test_stac_api_functional.py
Labels: tests, STAC API

#1075 Remove duplicate line
  pycsw/ogc/api/util.py
Labels: bug
